{% extends 'base.html' %}
{% load tz %}

{% block title %} {{ request.session.active_side_pane | capfirst }}{% endblock %}

{% block content %}

            <div class="content">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title" id="pocket-balance"><i class="glyphicon glyphicon-film"></i> {{ active_media }}</h4>
                            <!-- <p class="category" id="pocket-name">Recent payments made into and out of your account</p> -->
                        </div>

                        <div class="card-content">
                           <video src="{{ active_media.file.url }}" width="250" controls="true"> Audio </video>
                        </div>

                        <div class="card-footer">
                            <a class="btn btn-sm btn-default pull-left" href="{% url 'purchases' %}"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                            <a class="btn btn-sm btn-success pull-right"><i class="glyphicon glyphicon-download"></i> Download</a>
                        </div>
                    </div>
                </div>
            </div>
{% include 'footer.html' %}                
{% endblock %}